{% extends 'base.html.twig' %}

{% block title %}User List.{% endblock %}

{% block body %}
    <h1>User Emails</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% else %}
            <li>No users found.</li>
    {% endfor %}
    </ul>    
{% endblock %}
